

.logo{
    width: 50px;
    height: 40px;
}

svg{
    width: 7em;
    height: 2.1em;
    color: black;
}

.icon{
    margin-left: -50px;
    float: right;
}

.profile_pic{
    margin-right: 50px;
}


